{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'predictor/style.css' %}" />
<section class="image-container">
  <h2>About</h2>
  <p>
    Bacon ipsum dolor amet flank bresaola filet mignon, pancetta frankfurter
    shankle tri-tip leberkas short loin salami swine. Doner alcatra spare ribs
    meatball. Short loin ham hock buffalo turducken salami ribeye cupim chislic
    beef burgdoggen shankle tail drumstick. Short ribs corned beef turducken,
    prosciutto cupim strip steak turkey flank tenderloin shankle doner chuck
    bresaola. Ham hock pig burgdoggen tail, doner corned beef venison. Bacon
    ipsum dolor amet boudin leberkas biltong, beef ribs short ribs turducken
    kielbasa shankle chislic tri-tip. Salami sirloin biltong pork chop drumstick
    capicola hamburger. Shank jerky shoulder buffalo chuck brisket. Sirloin pork
    loin alcatra pancetta pastrami buffalo short ribs burgdoggen swine porchetta
    ham chislic. Tenderloin sausage buffalo spare ribs capicola tongue ham
    drumstick ball tip kielbasa. Pastrami pig meatloaf tongue. Meatloaf bresaola
    pastrami swine chislic. Burgdoggen pork belly chuck filet mignon capicola,
    meatball salami t-bone alcatra short ribs swine. Chicken short ribs ribeye
    short loin flank, pork chop pork belly corned beef salami turkey meatloaf
    jowl t-bone swine. Short loin meatball chicken, biltong strip steak ham
    tri-tip kielbasa cow turducken. Jerky sirloin ribeye porchetta tri-tip beef
    ribs landjaeger pastrami pork meatloaf swine short ribs strip steak turkey
    kielbasa.
  </p>
</section>

{% endblock content %}
